<%= form_for [:admin, @product, @product_package], :html => { :multipart => true } do |f| %>
    <fieldset data-hook="new_product_package">
    </fieldset>
    <div class="form-group">
        <legend align="center"><%= Spree.t(:new_package) %></legend>

        <%= render :partial => 'form', :locals => { :f => f } %>

        <div class="form-buttons filter-actions actions" data-hook="buttons">
            <%= button Spree.t(:new), 'icon-refresh' %>
            <span class="or"><%= t(:or) %></span>
            <%= link_to_with_icon 'icon-remove', Spree.t(:cancel), admin_product_product_packages_url(@product), :id => 'cancel_link', :class => 'btn btn-default button' %>
        </div>
    </div>
<% end %>

<%= javascript_include_tag 'admin/product_packages/new.js' %>
